body {
    margin: 0;
    background: rgb(15, 15, 15);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

h1 {
    text-align:center;
    font-weight: 800;
    color: orange;
    font-size: 36px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.day{
    background:lightcyan;
    width:30px;
    height:30px;
    display:inline-block;
    margin: 2px;
    cursor:pointer;
}

.day:hover{
    background:blue;
}

.day:focus {
    background-color:red;
}

.months{
    margin:0 auto;
    max-width:800px;
    margin-top:50px;
}

.space{
    margin-bottom:40px;
}

.monthsData{
    color:white;
    font-size:20px;
}

