html {
    background: #50eb67;
}

.deleteItem {
    cursor: pointer;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
}
